<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:dist="http://schemas.android.com/apk/distribution"
        package="co.com.cope">

    <dist:module
            dist:instant="false"
            dist:title="@string/title_dynamicsignup">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

    <application android:hasCode="true">
        <activity
                android:name="co.com.cope.SignUpActivity"
                android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"></activity>
    </application>
</manifest>

